*{
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #388E8E;
}

nav {
    background-color: #008CD6;
}

.nav-buttons {
    display: inline-block;
    font-size: 1.5em;
}

.nav-buttons > a {
    color: white;
    padding: 0 10px 0 10px; 
}

.nav-buttons > a:hover {
    background-color: lightblue;
}
