*{
    font-family: 'Lato', sans-serif;
}

#fifa-wc-trophy{
    width: 7%;
    height: 7%;
}

a{
	text-decoration: none;
}

body{
    background-color: #388E8E;
}

#title{
    color: white;
    text-align: center;
    display: inline;
}

#winners{
    color: white;
    text-align: center;
}

ol > img{
	width: 25%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

li{
	list-style-type: none;
	color: white;
	font-size: 2em;
	padding-left: 15%;
}
