*{
    font-family: 'Lato', sans-serif;
}

#fifa-wc-trophy{
    width: 7%;
    height: 7%;
}

nav{
    padding-top: 120px;
    padding-right: 30px;
    float: right;
}

a{
	text-decoration: none;
}

body{
    background-color: #FFFFFF;
}

#title{
    font-size: 3em;
    color: #0039A6;
    display: inline;
}

#winners{
    color: #000000;
    text-align: center;
}

ol > img{
	width: 25%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.uruguay:hover{
    background-image: url('../images/winners/uruguay.png');
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li{
	list-style-type: none;
	color: #D52B1E;
	font-size: 2em;
	padding-left: 15%;
}
