*{
	font-family: 'Lato', sans-serif;
}

/*nav{
	display: inline-block;
}*/

#fifa-wc-trophy{
	width: 7%;
	height: 7%;
}

body{
	background-color: #388E8E;
}

#title{
	color: white;
	text-align: center;
	display: inline;
}