<!DOCTYPE html>
<html>
<!-- This website was made by Alex Flores-Veliz, Jordan Falcon and Isaac Atif. -->
<head>
	<title>World Cup</title>
    <link rel="stylesheet" type="text/css" href="../css/background.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
    <nav>
        <div class="nav-buttons">
            <a href="index.html">Home</a>
            <a href="timeline.html">Timeline</a>
            <a href="#">About</a>
        </div>
    </nav>
    </header>

    
	<img src="images/fifa-wc-trophy.png">
<h1>World Cup</h1>
</body>
</html>
