<!DOCTYPE html>
<html>
<!-- This website was made by Alex Flores-Veliz, Jordan Falcon and Isaac Atif. -->
<head>
	<title>World Cup</title>
	<link rel="stylesheet" type="text/css" href="../css/team.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
</head>
<body>
	<header>
	<img id="fifa-wc-trophy" src="../images/fifa-wc-2018.png">
	<nav>
	   <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="timeline.html">Timeline</a></li>
        <li><a href="about.html">About</a></li>
        <li style="float:right"><a class="active" href="team.html">Our Team</a></li>
       </ul>
    </nav>
	</header>
	<h1 class="team-header">Our Team</h1>
	<div class="flex-container">
		<div class="alex-bio">
			<h1 class="name">Alex</h1>
			<img class="profile-pic" src="../images/profile/alex.png">
			<p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam rhoncus est et scelerisque. Quisque vulputate laoreet est, non viverra purus interdum at. Mauris dictum eros eu viverra lobortis. Nulla et sem eu sem lobortis pellentesque a a lorem. Vivamus id neque nec tellus pharetra cursus. Morbi ut posuere orci.</p>
			<a href="https://www.linkedin.com/in/alexfloresveliz/" target="_blank"><i class="fab fa-linkedin fa-fw fa-2x media-links"></i></a>
			<a href="https://github.com/AlexFloresVeliz" target="_blank"><i class="fab fa-github fa-fw fa-2x media-links"></i></a>
			<a href="https://www.alexfv.io/" target="_blank"><i class="fas fa-globe fa-fw fa-2x media-links"></i></a>
			<a href="mailto:hi@alexfv.io"><i class="fas fa-envelope fa-fw fa-2x  media-links"></i></a>
		</div>
		<div class="jordan-bio">
			<h1 class="name">Jordan</h1>
			<img class="profile-pic" src="../images/profile/jordan.jpeg">
			<p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam rhoncus est et scelerisque. Quisque vulputate laoreet est, non viverra purus interdum at. Mauris dictum eros eu viverra lobortis. Nulla et sem eu sem lobortis pellentesque a a lorem. Vivamus id neque nec tellus pharetra cursus. Morbi ut posuere orci.</p>
			<a href="https://www.linkedin.com/in/jordanfalcon/" class="media-links" target="_blank"><i class="fab fa-linkedin fa-fw fa-2x"></i></a>
			<a href="https://github.com/j-falcon122" class="media-links" target="_blank"><i class="fab fa-github fa-fw fa-2x"></i></a>
			<a href="#" class="media-links" target="_blank"><i class="fas fa-globe fa-fw fa-2x"></i></a>
			<a href="mailto:add@email.com" class="media-links"><i class="fas fa-envelope fa-fw fa-2x"></i></a>
		</div>
		<div class="isaac-bio">
			<h1 class="name">Isaac</h1>
			<img class="profile-pic" src="../images/profile/isaac.jpeg">
			<p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam rhoncus est et scelerisque. Quisque vulputate laoreet est, non viverra purus interdum at. Mauris dictum eros eu viverra lobortis. Nulla et sem eu sem lobortis pellentesque a a lorem. Vivamus id neque nec tellus pharetra cursus. Morbi ut posuere orci.</p>
			<a href="https://www.linkedin.com/in/isaac-mohammed-atif-70217471/" class="media-links" target="_blank"><i class="fab fa-linkedin fa-fw fa-2x"></i></a>
			<a href="https://github.com/Isaaclipse" class="media-links" target="_blank"><i class="fab fa-github fa-fw fa-2x"></i></a>
			<a href="#" class="media-links" target="_blank"><i class="fas fa-globe fa-fw fa-2x"></i></a>
			<a href="mailto:add@email.com" class="media-links"><i class="fas fa-envelope fa-fw fa-2x"></i></a>
		</div>
	</div>
		<div class="footer">
		<p class="love">Made with <i class="far fa-heart"></i> by <a href="">Alex</a>, <a href="">Jordan</a>, and <a href="">Issac</a>.</p>
	</div>
</body>
</html>
