<!DOCTYPE html>
<html>
<!-- This website was made by Alex Flores-Veliz, Jordan Falcon and Isaac Atif. -->
<head>
	<title>World Cup</title>
	<link rel="stylesheet" type="text/css" href="../css/timeline.css">
</head>
<body>
	<header>
	<img id="fifa-wc-trophy" src="../images/fifa-wc-trophy.png">
	<h1 id="title">World Cup</h1>
	    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">Timeline</a>
        <a href="#">About</a>
    </nav>
	</header>
	<div id="timeline">
		<ul>
			<h1>Winners (1930 - 2014)</h1>
			<li>Uruguay</li>
			<li>Italy</li>
			<li>Italy</li>
			<li>Uruguay</li>
			<li>West Germany</li>
			<li>Brazil</li>
			<li>Brazil</li>
			<li>England</li>
			<li>Brazil</li>
			<li>West Germany</li>
			<li>Argentina</li>
			<li>Italy</li>
			<li>Argentina</li>
			<li>West Germany</li>
			<li>Brazil</li>
			<li>France</li>
			<li>Brazil</li>
			<li>Italy</li>
			<li>Spain</li>
			<li>Germany</li>
		</ul>
	</div>
    <link rel="stylesheet" type="text/css" href="../css/background.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
</body>
</html>
