<!DOCTYPE html>
<html>
<!-- This website was made by Alex Flores-Veliz, Jordan Falcon and Isaac Atif. -->
<head>
	<title>World Cup</title>
	<link rel="stylesheet" type="text/css" href="../css/timeline.css">
</head>
<body>
	<header>
	<img id="fifa-wc-trophy" src="../images/fifa-wc-trophy.png">
	<h1 id="title">Road to World Cup</h1>
	    <nav>
        <a href="index.html">Home</a>
        <a href="timeline.html">Timeline</a>
        <a href="about.html">About</a>
    </nav>
	</header>
	<div id="timeline">
		<h1 id="winners">Winners (1930 - 2014)</h1>
		<ol>
			<li>Uruguay</li>
			<img src='../images/winners/uruguay.png' onmouseover="this.src='../images/winners/1930.jpg';" onmouseout="this.src='../images/winners/uruguay.png';" />
			<li>Italy</li>
			<img src='../images/winners/italy.svg' onmouseover="this.src='../images/winners/1934.jpg';" onmouseout="this.src='../images/winners/italy.svg';" />
			<li>Italy</li>
			<img src='../images/winners/italy.svg' onmouseover="this.src='../images/winners/1938.jpg';" onmouseout="this.src='../images/winners/italy.svg';" />
			<li>Uruguay</li>
			<img src='../images/winners/uruguay.png' onmouseover="this.src='../images/winners/1950.jpg';" onmouseout="this.src='../images/winners/uruguay.png';" />
			<li>West Germany</li>
			<img src='../images/winners/germany.svg' onmouseover="this.src='../images/winners/1954.jpg';" onmouseout="this.src='../images/winners/germany.svg';" />
			<li>Brazil</li>
			<img src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/1958.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />
			<li>Brazil</li>
			<img src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/1962.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />
			<li>England</li>
			<img src='../images/winners/england.svg' onmouseover="this.src='../images/winners/1966.jpg';" onmouseout="this.src='../images/winners/england.svg';" />
			<li>Brazil</li>
			<img src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/1970.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />
			<li>West Germany</li>
			<img src='../images/winners/germany.svg' onmouseover="this.src='../images/winners/1974.jpg';" onmouseout="this.src='../images/winners/germany.svg';" />
			<li>Argentina</li>
			<img src='../images/winners/argentina.svg' onmouseover="this.src='../images/winners/1978.jpg';" onmouseout="this.src='../images/winners/argentina.svg';" />
			<li>Italy</li>
			<img src='../images/winners/italy.svg' onmouseover="this.src='../images/winners/1982.jpg';" onmouseout="this.src='../images/winners/italy.svg';" />
			<li>Argentina</li>
			<img src='../images/winners/argentina.svg' onmouseover="this.src='../images/winners/1986.jpg';" onmouseout="this.src='../images/winners/argentina.svg';" />
			<li>West Germany</li>
			<img src='../images/winners/germany.svg' onmouseover="this.src='../images/winners/1990.jpg';" onmouseout="this.src='../images/winners/germany.svg';" />
			<li>Brazil</li>
			<img src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/1994.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />
			<li>France</li>
			<img src='../images/winners/france.svg' onmouseover="this.src='../images/winners/1998.jpg';" onmouseout="this.src='../images/winners/france.svg';" />
			<li>Brazil</li>
			<img src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/2002.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />
			<li>Italy</li>
			<img src='../images/winners/italy.svg' onmouseover="this.src='../images/winners/2006.jpg';" onmouseout="this.src='../images/winners/italy.svg';" />
			<li>Spain</li>
			<img src='../images/winners/spain.svg' onmouseover="this.src='../images/winners/2010.jpg';" onmouseout="this.src='../images/winners/spain.svg';" />
			<li>Germany</li>
			<img src='../images/winners/germany.svg' onmouseover="this.src='../images/winners/2014.jpg';" onmouseout="this.src='../images/winners/germany.svg';" />
		</ol>
	</div>
</head>
</body>
</html>
