<!DOCTYPE html>
<html>
<!-- This website was made by Alex Flores-Veliz, Jordan Falcon and Isaac Atif. -->
<head>
	<title>World Cup</title>
	<link rel="stylesheet" type="text/css" href="../css/timeline.css">
</head>
<body>
	<header>
	<img id="fifa-wc-trophy" src="../images/fifa-wc-trophy.png">
	<h1 id="title">World Cup</h1>
	    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">Timeline</a>
        <a href="#">About</a>
    </nav>
	</header>
	<div id="timeline">
		<h1 id="winners">Winners (1930 - 2014)</h1>
		<ol>
			<li>Uruguay</li>
			<img src="../images/winners/1930.jpg">
			<li>Italy</li>
			<img src="../images/winners/1934.jpg">
			<li>Italy</li>
			<img src="../images/winners/1938.jpg">
			<li>Uruguay</li>
			<img src="../images/winners/1950.jpg">
			<li>West Germany</li>
			<img src="../images/winners/1954.jpg">
			<li>Brazil</li>
			<img src="../images/winners/1958.jpg">
			<li>Brazil</li>
			<img src="../images/winners/1962.jpg">
			<li>England</li>
			<img src="../images/winners/1966.jpg">
			<li>Brazil</li>
			<img src="../images/winners/1970.jpg">
			<li>West Germany</li>
			<img src="../images/winners/1974.jpg">
			<li>Argentina</li>
			<img src="../images/winners/1978.jpg">
			<li>Italy</li>
			<img src="../images/winners/1982.jpg">
			<li>Argentina</li>
			<img src="../images/winners/1986.jpg">
			<li>West Germany</li>
			<img src="../images/winners/1990.jpg">
			<li>Brazil</li>
			<img src="../images/winners/1994.jpg">
			<li>France</li>
			<img src="../images/winners/1998.jpg">
			<li>Brazil</li>
			<img src="../images/winners/2002.jpg">
			<li>Italy</li>
			<img src="../images/winners/2006.jpg">
			<li>Spain</li>
			<img src="../images/winners/2010.jpg">
			<li>Germany</li>
			<img src="../images/winners/2014.jpg">
		</ol>
	</div>
    <link rel="stylesheet" type="text/css" href="../css/background.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
</body>
</html>
